.item {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: dashed;
}

.item-text {
    text-decoration: line-through;
}

.item span:hover {
    cursor: pointer;
}