.app-container {
  background-color: #FAFAFA;
  height: 100%;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}

.section-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 400px;
  box-shadow: 10px 10px 12px 0px rgba(201, 199, 201, 1);
  border-radius: 15px;
  width: 900px;
  max-height: calc(100vh - 100px);
}

.left-section {
  padding: 48px 25px 25px 25px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 15px 0 0 15px;
  background-color: #4FA4FA;
  box-shadow: 6px 0px 5px 0px rgb(252 252 252);
  color: #FAFAFA;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 450px;
  max-height: inherit;
}

.right-section {
  width: 100%;
  padding: 48px 25px 25px 25px;
  background-color: #F0F5FB;
  border-radius: 0 15px 15px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  text-align: center;
  max-height: inherit;
}

.left-ilustration-container {
  /* width: 100%; */
  /* border-color: black; */
  /* border-width: 1px; */
  /* border-style: dashed; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}