.app-container {
  background-color: rgb(250, 250, 250);
  height: 100vh;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}

.section-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  background-color: rgb(205, 255, 255);
  max-width: 1200px;
  border-radius: 15px;
}

.left-section {
  padding: 15px;
  width: 100%;
}

.right-section {
  width: 100%;
  padding: 15px;
}