.app-container {
  background-color: rgb(219, 217, 217);
  height: 100vh;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}

.section-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  background-color: rgb(244, 244, 244);
  max-width: 1200px;
}

.left-section {
  background-color: aqua;
  width: 100%;
}
.right-section{
  width: 100%;
}